.container{
 border-bottom: 1px solid lightgray;

}

.nav{
    position: relative;
}
.navList{
    gap: 20px;
    position: absolute;
    right: 0;
    background-color: rgb(66, 23, 105);
    margin-top: 10px;
    border-radius: 3px;
    padding: 10px 20px;
    width: 120px;
    z-index: 10;
}
.ham svg{
    font-size: 20px;
    color: rgb(90, 0, 173);
}
.navItem{
    color: #fff;
    font-weight: 500;
}

.hide{
    display: none ;
}

@media screen and (min-width: 500px) {
    .ham{
        display: none;
    }

    .navList{
        position: relative;
        /* flex-direction: row; */
        display: flex !important;
        width: unset;
        background-color: unset;
        box-shadow: unset;
        margin: unset;
        padding: unset;
    }

    .hide{
        display: block;
    }
    
    .navItem{
        color: purple;

    }
    
}