.home {
}

.profilePic {
}

.profilePic img {
  border-radius: 100%;
}

.userDetails {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  text-align: center;
}

.userName {
  font-size: 20px;
  font-weight: 600;
  /* line-height: 30px; */
}

.profession {
  font-size: 14px;
  color: gray;
}

.userSays {
  margin-top: 20px;
  text-align: center;
}

.userSaysHeading {
  font-size: 18px;
}

.userSaysDetails {
  margin-top: 10px;
  font-size: 16px;
  color: gray;
}

